@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Presenteie</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("CSS", required: false)
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <a asp-controller="Home" asp-action="Index">
        <img src="~/img/logo.png" alt="Presenteie">
    </a>
    <nav>
        <ul>
            @if (User.Identity is not null && User.Identity.IsAuthenticated) {
               
                <p class="name">@User.Identity.Name</p>
            }
            else
            {
                <li>
                    <a asp-area="" asp-controller="SignUp" asp-action="Index">Criar Conta</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Login" asp-action="Index">Entrar</a>
                </li>
            }
        </ul>
    </nav>
</header>
<main>
    @RenderBody()
</main>

<!--
<footer>
    <div>
        &copy; 2021 - Presenteie - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
    </div>
</footer>
-->


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>