@model Presenteie.Models.User
@{
    ViewData["Title"] = "Alterar Senha";
    Layout = "_Layout";
}

@section CSS    
{
    <link rel="stylesheet" href="~/css/settings.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
}

<div class="card-password">
    <form class="w-100" asp-controller="Settings" asp-action="UpdatePassword">
        <div class="mb-3 form-group">
            <label asp-for="Password" class="font-weight-bold m-0">Senha</label>
            <input type="password" style="border-radius: 8px" asp-for="Password" class="form-control py-4" placeholder="Digite uma  nova senha"/>
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 form-group">
            <label asp-for="Password" class="font-weight-bold m-0">Confirmar senha</label>
            <input type="password" style="border-radius: 8px" asp-for="ConfirmPassword" class="form-control py-4" placeholder="Confirme a senha"/>
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
            
        <div class="button-action">
            <input type="submit" class="alternative-button" value="Alterar senha"/>
            <button class="default-button" onclick="window.history.back(); return false;">Voltar</button>
        </div>
    </form>
</div>

@section Scripts 
{
    @{ <partial name="_ValidationScriptsPartial"/>
    }
}