

@section CSS
{
    <link rel="stylesheet" href="~/css/site.css"/>
}

@{
    ViewData["Title"] = "Editar";
    var message = ViewBag.Message;
}

<!DOCTYPE html>

<html>
<head>
   
</head>
<body>
<div>
    <h1>TESTE</h1> 
    <p>@message</p>

</div>
</body>
</html>