@{
    Layout = "_NoAuthLayout";
}
@section CSS
{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"  />
}

<div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>Pronto!</h1>
    <p>Enviamos um e-mail para você com as informações necessarias para resetar sua senha.</p>
    <a class="btn" style="background: #767676 !important; color: #FFFFFF;" asp-controller="Login" asp-action="Index">Voltar</a>
</div>