@{
    Layout = "_NoAuthLayout";
}

@section CSS
{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"  />
}

<div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>Senha Redefinida!</h1>
    <p>Sua senha foi redefinida com sucesso!</p>
    <a class="btn" style="background: #767676 !important; color: #FFFFFF;" asp-controller="Login" asp-action="Index">Fazer Login</a>
</div>