@model Presenteie.Models.User
@{
    ViewData["Title"] = "Criar uma conta";
}

@section CSS
{
    <link rel="stylesheet" href="~/css/signup.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"  />
}

<div class="signup">
    <img style="height: 5.5rem" class="mb-4" src="~/img/brand.svg" alt="presente.ie" />
    <form class="w-100" asp-controller="SignUp" asp-action="Index" method="post">
        <div class="mb-3">
            <label for="email" class="font-weight-bold m-0">E-mail</label>
            <input style="border-radius: 8px" type="email" class="form-control py-4" asp-for="Email" placeholder="digite seu e-mail" id="email">
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="font-weight-bold m-0">Nome</label>
            <input style="border-radius: 8px" class="form-control py-4" asp-for="Name" placeholder="digite seu nome" id="name">
            <div class="invalid-feedback" style="display:block;">
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Name"></span>
            </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="font-weight-bold m-0">Senha</label>
            <input style="border-radius: 8px" type="password" class="form-control py-4" asp-for="Password" placeholder="digite sua senha" id="password">
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="mb-3 d-none">
            <label for="repeat-password" class="font-weight-bold m-0">Digite novamente a senha</label>
            <input style="border-radius: 8px" type="password" class="form-control py-4" placeholder="digite sua senha" id="repeat-password">
        </div>
        <button type="submit">Cadastrar-se</button>
    </form>
    <a class="text-center" asp-controller="Login" asp-action="Index" id="login-link">Já possui uma conta?</a>
</div>

@section Scripts
{
    @{ <partial name="_ValidationScriptsPartial" /> }
}
