@model Presenteie.Models.UserCredentials
@{
    ViewData["Title"] = "Entrar";
    Layout = "_NoAuthLayout";
}

@section CSS
{
    <link rel="stylesheet" href="~/css/signup.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"  />
}

<div class="signup align-items-center">
    <img style="height: 5.5rem" class="mb-4" src="img/brand.svg" alt="presente.ie" />
    <form class="w-100" asp-controller="Login" asp-action="Index" method="post" asp-route-returnurl="@Model?.ReturnUrl">
        <div class="mb-3">
            <label for="email" class="font-weight-bold m-0">E-mail</label>
            <input style="border-radius: 8px" type="email" class="form-control py-4" asp-for="Email" placeholder="digite seu e-mail" id="email">
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Email"></span>
            </div>
        </div> <div>
            <label for="password" class="font-weight-bold m-0">Senha</label>
            <input style="border-radius: 8px" type="password" class="form-control py-4" asp-for="Password" placeholder="digite sua senha" id="password">
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <label class="for-radio mt-3">
            Mantenha-me conectado
            <input asp-for="RememberMe"/>
        </label>
        <button type="submit">Entrar</button>
    </form>
    <div class="w-100 d-flex align-items-center flex-column mt-2">
        <a class="nav-link" asp-controller="Security" asp-action="Index">Esqueci minha senha</a>
        <div class="w-100 my-3" style="background: #8C8E93;padding: 1px"></div>
        <a class="nav-link" asp-controller="SignUp" asp-action="Index">Não tem uma conta?</a>
    </div>
</div>

@section Scripts
{
    @{ <partial name="_ValidationScriptsPartial" /> }
}
