@model Presenteie.Models.UserCredentials
@{
    ViewData["Title"] = "Criar uma conta";
}

@section CSS
{
    <link rel="stylesheet" href="~/css/signup.css"/>
}

<div class="signup">
    <h1>Entre em uma conta</h1>
    
    <form asp-controller="Login" asp-action="Index" method="post" asp-route-returnurl="@Model?.ReturnUrl">
        <label>
            Email
            <input type="email" asp-for="Email" placeholder="seu.email@exemplo.com"/>
            <span asp-validation-for="Email"></span>
        </label>
        <label>
            Senha
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </label>
        <label class="for-radio">
            Mantenha-me conectado
            <input asp-for="RememberMe" />
        </label>

        <button type="submit">Entrar</button>
    </form>

    <a asp-controller="SignUp" asp-action="Index">Não possui uma conta?</a>
</div>

@section Scripts
{
    @{ <partial name="_ValidationScriptsPartial" /> }
}


