@{
    ViewData["Title"] = "Página Inicial";
}

<div>
    <h1>Olá, @User.Identity?.Name!</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">criar aplicativos web com ASP.NET Core</a>.</p>
</div>