@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
    var lists = ViewBag.lists;
}

@section CSS
{
    <link rel="stylesheet" href="~/css/home.css">
}

<div id= "home-container"> 
    <div id= "retangulo"></div>
    <div id="MyList">
        <a  asp-ne href="/List/Create"> <strong>+ Criar Lista</strong> </a>
    </div>
    
    <div id="gallery">
        <div id="imagens">
            @foreach (var list in lists)
            {
                <div id="box">
                    <a> <img src="~/img/festa1.jpeg"> </a>
                    <h4> @User.Identity?.Name </h4>
                    <p>@list.ThemeList | @list.EventDate.ToString("dd/MM/yyyy - hh:mm")</p>
                </div>
            }
        </div>
    </div>
</div>
      