@{
    ViewData["Title"] = "Home";
    var lists = ViewBag.lists;
}

@section CSS
{
    <link rel="stylesheet" href="~/css/home.css">
}

<body>     
        <div id= "LateralEsquerda">
        <img id= "fotoperfil" src="img/4foto.png">

        <nav id="menu">     
          <h2><li>Informações</li></h2>
            <hr id= "tracoDiferente">
            <ul>
            <a asp-controller="Home" asp-action="Index">Minha Lista</a>
            <hr>
            <a href="#">Meus Presentes</a>
            <hr>
            <a href="#">Configurações</a>
            <hr>
            <a href="#">Sair</a>
            <hr>
            </ul>
        </nav> 
        </div>

        <div id= "LateralDireita"> 
            <div id= "retangulo">
            </div>

            <div id="MyList">
            <a href="#"> <strong>+ Criar Lista</strong> </a>
            </div>

            <div id="localimagens">
                <div id="imagens">
                    @foreach (var list in lists)
                    {
                        <div id="box">
                            <a> <img src="img/festa1.jpeg"> </a>
                            <h4> @User.Identity?.Name </h4>
                            <p>@list.ThemeList | @list.EventDate.ToString("dd/MM/yyyy - hh:mm")</p>
                        </div>
                    }
                </div>
            </div>
        </div>
</body>

      