div#home-container {
    width: 90%;
    display: flex;
    position: absolute;
    flex-direction: row;
}

div#home-container h1{
    margin-top: 0%;
    margin-left: 62%;
    font-family: 'Roboto', sans-serif;
    font-size: 20%;
    color: #fcfaf8;
    list-style: none;
    border-radius: 7px;
    bottom: 2%;
}

div#home-container div#gallery {
    background-color: #72727209;
    border-radius: 1%;
    position: absolute;
    margin-top: 93px;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    height: 700px;
}

div#imagens {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
}

div#imagens div#box {
    margin: 2.5%;
    margin-top: 2%;
    text-align: center;
    display: inline-block;
    transition: 0.4s;
}

div#imagens div#box:hover {
    transform: scale(1.2);
    cursor: pointer;
}

div#imagens div#box img {
    width: 120px;
    height: 120px;
    border-radius: 16%;
    border: 5px #FFFFFF solid;
    box-shadow: 1px 1px 1px 1px rgb(194, 190, 184);
    position: relative; 
}

div#imagens div#box ,h4 {
    color: #C6AD89;
    font-size: 100%;
}

div#imagens div#box ,p {
    color: #727272;
    font-size: 80%;
}
 
div#retangulo {
    width: 100%;
    height: 26px;
    background-color: #C6AD89;
    display: flex;
    position: relative;
    border-radius: 7px;
    margin: 50px 30px 0 0;
}

div#MyList {
    width: 200px;
    height: 26px;
    background-color: #c6ad89;
    display: flex;
    flex-flow: row;
    position: relative;
    border-radius: 8px;
    margin: 50px 0 0 0;
    justify-content: center;
}

div#MyList a {
    display: flex;
    font-size: 15pt;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    font-style: unset;
}

div#MyList:hover
{
    background-color: #b89c78;
}
