.signup {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.signup h1 {
    margin: 10px auto;
}

.signup form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.signup form label {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    color: #767676;
    font-size: 20px;
    font-weight: 500;
}

.signup form label input {
    color: #767676;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    box-shadow: 0 0 2px 0 #767676;
    border-radius: 5px;
}

.signup form label span {
    text-align: center;
    color: darkred;
    font-size: 15px;
    height: 18px;
}

.signup form label.for-radio {
    place-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 17px;
}

.signup form label.for-radio input {
    margin-right: 10px;
}

.signup form button {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: #767676;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

#login-link {
    font-size: 20px;
    text-shadow: 0 0 4px black;
    font-weight: 500;
    color: white;
    margin: 10px auto;
}

.signup a {
    text-decoration: none;
    color: #8C8E93;
}

.signup a:hover {
    text-decoration: underline;
}

#brand p {
    color: #8C8E93;
    margin: 0;
    font-size: 1.1rem;
}

#brand h1 {
    color: #FFFFFF;
    font-size: 3.5rem;
    text-shadow: #000000 1px 1px 1px 100px;
    margin: 0;
}

.auth span {
    margin-bottom: 5px !important;
}
