/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Global styles
-------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/img/background.jpg");
  background-size: cover;
}

/* Header styles
-------------------------------------------------- */

/* Main styles
-------------------------------------------------- */

/* Footer styles
-------------------------------------------------- */
