@model Presenteie.Models.Item
@{
    ViewData["Title"] = "Cadastrar Itens";
    var idList = ViewBag.IdList;
}

@section CSS
{
    <link rel="stylesheet" href="~/css/registeritem.css"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"  />
}


<div class="registeritem">
    
    <div class="superior">
        <div class="superior-empty"></div>
        <ul>
            <li>Cadastrar Itens</li>
        </ul>
    </div>
    
    <form class="w-100" asp-action="Create" method="post" asp-controller="RegisterItem">
        <div class="mb-3">
        
            <input type="hidden" asp-for="Id" value="@null">
            <input type="hidden" asp-for="IdList" value="@idList">
            <input type="hidden" asp-for="State" value="Purchase">
            <label>
                Imagem
                <input type="file"/>
            </label>
        
            <label>
                Nome do Produto
                <input type="text" asp-for="Name" placeholder="Cafeteira"/>
                
                </label>
            <label>
                Descrição
                <input type="text" asp-for="Description" placeholder="Eletrodomestico | Americanas"/>
                
            </label>
            <label>
                R$ Adicionar Preço
                <input type="number" min="0" step="0.01" asp-for="Value" placeholder="0,00"/>
                
            </label>
            <label>Nome da loja</label>
            <input type="text" asp-for="StoreName" placeholder="Pinguim">
            <label>
                + Adicionar Link
                <input type="url" asp-for="Link" placeholder="www.Americanas.com"/>
                            
            </label>
        </div>
        <button type="submit">Salvar</button>
    </form>
</div>

@section Scripts
{
    @{ <partial name="_ValidationScriptsPartial" /> }
}